__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

artifacts_context_study/
artifacts_context_study_schema_ft/
artifacts_context_study_longt5_ft/
artifacts_context_study_longt5_smoke/
artifacts_context_study_longt5_smoke2/
artifacts_context_study_longt5_smoke3/
artifacts_context_study_longt5_smoke4/
artifacts_context_study_longt5_smoke_schema_type/
artifacts_context_study_longt5_smoke_schema_type_bs4/

note.txt
final_note.md
